<template name="marketingHome">
  <div class="jumbotron landing-page">
    <div class="container">
      <h1>Communicate like a superhero.</h1>
      <p class="lead">Save your content. Share it with others. Save the day.</p>
    </div>
  </div> <!-- / jumbotron -->

  <blockquote class="text-center">
    <div class="container">
      <p>I'm so glad I get to comb through these dozens of pages of search results!</p>
      <footer>Said nobody. Ever.</footer>
    </div>
  </blockquote> <!-- /quote -->

  <div class="well">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 features">
          <h2>Convenient</h2>
          <p>
            We go where you go. No matter the service, we have you covered. Slack? Yep. Email? Sure thing. Webapp? Got that too.
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button" disabled> Coming soon</a>
          </p>
        </div>
        <div class="col-sm-4 features">
          <h2>Simple</h2>
          <p>
            There's a reason internal wiki's go out of date. With Permeate, your content is now updated with conversations, not tedious file editing.
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button" disabled> Coming soon</a>
          </p>
        </div>
        <div class="col-sm-4 features">
          <h2>Organized</h2>
          <p>
            Permeate's robust content tagging system allows you and groups of users to always find what you're looking for when you need it.
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button" disabled> Coming soon</a>
          </p>
        </div>
      </div>
    </div>
  </div> <!-- / 3 benefits -->

  <div class="text-center row">
    <p class="lead">Permeate is current under <a href="https://assembly.com/permeate">active development on Assembly</a>.</p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup" class="col-sm-6 col-sm-offset-3">
      <form action="//permeate.us10.list-manage.com/subscribe/post?u=743c3e05b56d1e628aa5a9226&amp;id=4e5bfd3f3e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group form-group">
            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email me when it's ready.">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_743c3e05b56d1e628aa5a9226_4e5bfd3f3e" tabindex="-1" value="">
          </div>
          <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary sr-only">
          </div>
        </div>
      </form>

      <p class="text-muted"><i class="fa fa-lock fa-fw"></i> As a community driven product, your trust is of utmost importance. We will never share your information.</p>
    </div>
  </div> <!-- /email -->

  <div class="clear">

    <hr>

    <p class="text-center">
      &copy; 2015 Permeate.io
    </p>

  </div> <!-- /footer -->
</template>